*{
    margin: 0;
    padding: 0;
}
.top-bar, .top-bar button, .search{
    padding: 0.5rem;
    margin: 0.5rem;
}
.top-bar button i{
    padding: 1px;
}
.search input{
    width:300px;
    padding: 0.5rem;
    margin-right: 20px;
}
.search button{
    padding: 0.5rem;
}
span{
    padding: 1px;
}
canvas{
    /* border: 1px solid black; */
    margin-left: 200px;
}